.filterForm {
    margin-bottom: 1rem;

    label,
    input {
        padding-left: 0.5rem;
        padding-right: 0.5rem;
    }
}

.filterItem {
    &:before,
    &.hidden {
        display: none;
    }
}

.MuiExpansionPanel-root.Mui-expanded {
    margin: 0 !important;
}

.MuiExpansionPanelSummary-root.Mui-expanded {
    min-height: 48px !important;

    .MuiExpansionPanelSummary-content.Mui-expanded {
        margin: 12px 0 !important;
    }
}