.hero {
    width: 100%;
    min-height: 500px;
    // background-color: red;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    margin-bottom: 2rem;
    display: flex;
    align-items: center;
    padding-top: 64px;
}