.LinkBox {
    background-color: #3f51b5;
    color: white;
    padding: 1.5rem;
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 100%;
    justify-content: center;
    align-items: center;
    text-align: center;
    text-decoration: none;
    transition: 0.2s ease-in background-color;

    &:hover {
        background-color: darken(#3f51b5, 10);
    }

    p {
        line-height: 1.5;
        font-size: 1.1rem;
    }
}